<!DOCTYPE html>
<html>
<head>
<title>User Profile</title>
</head>
<style>
    .success{
        color: green;
    }
    .info{
        color:red;
    }
</style>
<body>
    <h3>Welcome {{name}}</h3><br>
    {% if users != None %}
    <h4><u>List Of User</u>:</h4><br>
    {% for user in users %}
    <a href="{% url 'user_detail' user.id %}"> {{user.username}}</a><br>
    {% endfor %}
    {% endif %}<br>
    {% if messages %}
     {% for mess in messages %}
     <p {% if mess.tags %} class="{{mess.tags}}" {% endif %}>
     {{mess}}</p>
     {% endfor %}
    {% endif %}
    <form actiom="" method="POST" novalidate >
    {% csrf_token %}
    {% if form.non_field_errors %}
    {% for error in form.non_field_errors  %}
     <p class="er">{{error}}</p>
    {% endfor %}
    {% endif %}
    {% for fm in form %}
      {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
    {% endfor %}
    <input type="submit" value="save">
    </form>
    <a href ="{% url 'pass_change' %}">Change Password</a>
    <a href ="{% url 'log_out' %}">logout</a>
</body>

</html>