<!DOCTYPE html>
<html>
<head>
<title>Sign up</title>
<style>
    .success{
        color: green;
    }
    .info{
        color:red;
    }
</style>
</head>

<body>
    <form actiom="" method="POST" novalidate >
        {% csrf_token %}
         {% for fm in form %}
         {{fm.label_tag}} {{fm}} {{fm.errors|striptags}} <br><br>
         {% endfor %}
        <input type="submit" value="submit">
    </form>
    {% if messages %}
     {% for mess in messages %}
     <p {% if mess.tags %} class="{{mess.tags}}" {% endif %}>
     {{mess}}</p>
     {% endfor %}
    {% endif %}<br>
    <a href ="{% url 'log_in' %}">login</a>
</body>

</html>